<html>

<head>
    <title>CoDetX: Faster+Economical Tests</title>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/css_code.css">
</head>

<body>
    <!-- Navbar  -->
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="../static/imageS/CoDetX.jpeg" alt="CoDetX Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.worldometers.info/coronavirus/" target="_blank">Current Cases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.mohfw.gov.in/pdf/Poster_Corona_ad_Eng.pdf" target="_blank">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <br>
    <!-- Heading  -->
    <h2 class="text-center m-3"> COVID-19 Detection based on X-ray and symptoms </h2>

    {% block body %}


    {% endblock %}

    <!--  Footer   -->
    <hr>
    <foote class="text-center">
        Developed for final year project on the basis of <a href="https://www.deeplearningbook.org/">Deep
            Learning</a>.
    </footer>

    <!-- <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


</html>