{% extends 'index.html' %}

{% block body %}

<div class="container" id="myrow">
    <ul class="nav nav-tabs pt-3">
        <li class="nav-item">
            <a class="nav-link active" id='uploadimg' href="#upload-image">Upload X-ray of patient</a>
        </li>
    </ul>

    <div class="container">
        <div class="tab-pane active" id="upload-image" role="tabpanel" aria-labelledby="uploadimg">
            <div class="row">
                <div class="col-md-12">
                    <form action="#" method="post" enctype="multipart/form-data">
                        <!--  file input  -->
                        <p>
                            <input type="file" name="image_name" class="btn btn-success" required>
                        </p>

                        <p>
                            <strong>Instructions</strong>: <br> Only .png, .jpg, .jpeg files allowed
                        </p>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" style="color: black;" href="#">Select symptoms of patient</a>
                            </li>
                        </ul>
                        <div class='row'>
                            <div class="check col-md-8 col-sm-12">
                                <label class="input-group mb-3 mt-3">
                                    <span class="input-group-text"><input type="checkbox" value="0"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Breathing Problem</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="1"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Fever</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="2"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Dry Cough</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="3"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Sore throat</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="4"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Hyper Tension</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="5"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Abroad travel History</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="6"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Contact with COVID Patient</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="7"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Attended Large Gathering</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="8"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Visited Public exposed
                                        places</span>
                                </label>
                                <label class="input-group mb-3">
                                    <span class="input-group-text"><input type="checkbox" value="9"
                                            name="mycheckbox"></span>
                                    <span class="form-control btn btn-dark text-white">Family working in Public Exposed
                                        Places</span>
                                </label>
                            </div>
                        </div>
                        <!--  submit -->
                        <p>
                            <input type="submit" value="submit" class='btn btn-lg btn-success px-5'>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if fileupload %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-8 col-sm-12">
            {% for i in data %}
            {% if i == 'COVID'%}
            <p class="res bg-danger text-white fw-bolder p-2">{{i}}</p>

            {% elif i == 'VIRAL PNEUMONIA' %}
            <p class="res1 bg-success text-white fw-bolder p-2">{{i}}</p>

            {% elif i == 'NORMAL' %}
            <p class="res bg-danger text-white fw-bolder p-2">{{i}}</p>

            {% elif i not in ['COVID','PNEUMONIA','NORMAL'] %}
            <p class="des bg-info text-white fw-bolder p-2">{{i}}</p>

            {% endif %}

            {% endfor %}

            {% if data[0] == 'COVID' %}
            <img src="\static\images\covid display.jpg" alt="covid image" class="img-fluid display">
            {% endif %}
            {% if data[0] == 'NORMAL' %}
            <img src="\static\images\normal display.jpg" alt="Normal image" class="img-fluid display">
            {% endif %}
            {% if data[0] == 'VIRAL PNEUMONIA' %}
            <img src="\static\images\pneumonia display.jpg" alt="pneumonia image" class="img-fluid display">
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12 mt-4 mt-md-0">
            <img src="static/uploaded/{{ image }}" alt="uploaded image" class="img-fluid image">
            <p class="image_name text-success fw-bold border p-1">Image name: {{image}}</p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}